@model GQNA.Models.tbl_NHT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_NHT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_NHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_NHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar_NHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avatar_NHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.background_NHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.background_NHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_NHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_NHT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
