@model List<GQNA.Models.Project>

<div class="causes-active slick-20">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="causes-item">
            <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
                <div class="tpcard__img grayscale">
                    @if (Model[i] != null)
                    {
                        <a href="@Url.Action("detail", "browse", new { id = Model[i].id_project })"><img src="@Model[i].img_project" alt=""></a>
                    }
                    </div>
                <div class="inFoDt">
                    @if (Model[i] != null && Model[i].tbl_DT != null)
                    {
                        <img src="/Content/images/ImgNHT/@Model[i].tbl_DT.avatar_DT" alt="Image" class="rounded-circle mr-3" width="50">
                        <span class="txtDT">@Model[i].tbl_DT.name_DT</span>
                    }
                </div>
                <div class="tpcard__content">
                    <h4 class="tpcard__title">
                        @if (Model[i] != null)
                        {
                            <a href="donation-details.html">
                                @Model[i].name_project
                            </a>
                        }

                    </h4>
                    <div class="totalAmount">
                        <span class="sale">Tổng @string.Format("{0:N0}", Model[i].project_amount)đ / @string.Format("{0:N0}", Model[i].TotalContributed)đ</span>
                    </div>

                    <div class="tpcard__progresss" style="padding-top:10px;">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                               style="width: @Model[i].PercentContributed%;" aria-valuenow="@Model[i].PercentContributed" aria-valuemin="0" aria-valuemax="100">
                                <span>@Model[i].PercentContributed.ToString("0.##")%</span>
                            </div>
                        </div>
                    </div>
                    <div class="tpcard__bottom d-flex justify-content-between">
                        <div class="tpcard__details">
                            <span class="subtitle">Lượt quyên góp</span> <br>
                            <span class="sale">@Model[i].totalSL</span>
                        </div>
                        <div class="tpcard__details">
                            <span class="subtitle">Còn lại</span> <br>
                            <span class="sale">@Model[i].RemainingDays ngày</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
    <!-- card area end -->